/* Sample CSS for positioning the containers */

.chat-container {
  display: flex; /* Display components side by side */
}

.profile-container {
  flex: 1; /* Take up 50% of the container width */
  margin-top: 5%;
  margin-left: 25px;
  overflow: hidden;
  width: 100%; 
  height: 100%;
}

.homepage-container {
  flex: 1; /* Take up 50% of the container width */
  padding: 20px; /* Add padding as needed */
  margin-right: -100px;
  margin-bottom: 100px;
}
body{
  background: #007bff;
  font-family: 'Rubik', sans-serif;
}