

.chat-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #0075dd;
  background-color: #0075da;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  margin-top: -415px;
  margin-left: -50px;
}

.header {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-right: 1px solid #0075dd;
  background-color: #0075da;
  padding: 9px;
  border-bottom: 1px solid #ccc;
  color: white !important;
  /* margin-bottom: 10px; */
}
.chat-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1; /* Allow it to take remaining space */
  /* flex: 1;
  overflow-y: auto; */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 300px;
}

.message {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
}

.user {
  font-weight: bold;
}

.new-message-form {
  margin-top: 1rem;
}

.new-message-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.send-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: relative;
  top: 1px;
}

.send-button i {
  font-size: 1.2rem;
}
.Status{
  /* display: flex;
  justify-content: space-around; */
  margin-left: 56px;
}
.Username{
  display: flex;
  justify-content: space-around;
  margin-right: 250px;
}
.ChatTab{
  color: white;
  width: 80%;
  /* text-wrap: wrap; */
  /* margin: inherit; */
  margin-top: 40px;
  margin-left: 2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}