.chat-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #D2E0FB;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: 'Rubik', sans-serif;
}

.header {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #D2E0FB;
  padding: 9px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  margin-bottom: 10px;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
}

.user {
  font-weight: bold;
}

.new-message-form {
  margin-top: 1rem;
}

.new-message-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.send-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: relative;
  top: 1px;
}

.send-button i {
  font-size: 1.2rem;
}
.Status{
  display: flex;
  justify-content: space-around;
  margin-right: 23rem;
}
.Username{
  display: flex;
  justify-content: space-around;
  margin-right: 15rem;
}
.ChatTab{
  width: 100%;
  text-wrap: wrap;
  margin: inherit;
  margin-top: 4rem;
  margin-left: -400px;
}